/* CDN Fonts */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* +++++++++++++++++++++++++++++ */
/*         custom fonts          */
/* +++++++++++++++++++++++++++++ */

/* @font-face {
  font-family: "";
  src: url("../public/Fonts");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "";
  src: url("../public/Fonts");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "";
  src: url("../public/Fonts");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "";
  src: url("../public/Fonts");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "";
  src: url("../public/Fonts");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "";
  src: url("../public/Fonts");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "";
  src: url("../public/Fonts");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "";
  src: url("../public/Fonts");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "";
  src: url("../public/Fonts");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "";
  src: url("../public/Fonts");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "";
  src: url("../public/Fonts");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "";
  src: url("../public/Fonts");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "";
  src: url("../public/Fonts");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "";
  src: url("../public/Fonts");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "";
  src: url("../public/Fonts");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "";
  src: url("../public/Fonts");
  font-weight: 200;
  font-style: italic;
}

@font-face {
    font-family: "";
    src: url("../public/Fonts");
    font-weight: 100;
    font-style: normal;
  }
  @font-face {
    font-family: "";
    src: url("../public/Fonts");
    font-weight: 100;
    font-style: italic;
  } */
